.talkBox {
  max-width: 450px;
  width: calc(100% - 2rem);
  margin: 0 auto 16px auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
  border-radius: 16px;
  padding: 16px;
  position: relative;
}
.talkBox::before {
  content: "";
  border-top: 15px solid rgba(255, 255, 255, 0.8);
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.filter {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.title {
  color: var(--grey-600);
  flex: 1;
}
.temp,
.mode {
  /* border: 1px solid blue; */
  border-radius: 16px;
  background-color: var(--grey-100);
  color: var(--grey-600);
}
.temp span,
.mode span {
  /* border: 1px solid blue; */
  border-radius: 16px;
  display: inline-block;
  padding: 4px 8px;
  transition: 0.3s;
  cursor: pointer;
}
.talk {
  color: var(--primary-variant-color);
}

.selected {
  background-color: var(--primary-color);
  color: white;
}
