/***** 공통 *****/
button {
    border: none;
}

.postInfo {
    display: flex;
    gap: 8px;
    align-items: center;
}


.miniTag {
    box-shadow: inset 0 0 0 1px var(--primary-color);
    /* 내부 그림자를 이용한 경계선 */
    padding: 4px 8px 4px 9px;
    border-radius: 1.5rem 1rem 1rem 0 / 1.5rem 1rem 1rem 0
}

.bottomBtns {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    gap: 0.5rem;
    transition: 0.15s;
}

.btnMethod {
    color: var(--white);
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 999px;
    background-color: var(--primary-variant-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    transition: 0.15s;
    cursor: pointer;
}

.btnMethod:hover {
    background-color: var(--primary-color);
}

.btnCancel {
    color: var(--grey-400);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 999px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    transition: 0.15s;
    cursor: pointer;
}

.btnCancel:hover {
    color: var(--white);
    background-color: var(--grey-600);
}


.BtnToggle {
    white-space: nowrap;
    background-color: var(--white);
    border: 1px solid var(--grey-200);
    color: var(--grey-800);
    border-radius: 999px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
}

.BtnToggle:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    transition: 0.15s;
}

.BtnToggle.active {
    background-color: var(--primary-variant-color);
    border: 1px solid var(--primary-variant-color);
    color: var(--white);
}

/* ===codiMain.jsx 내코디 메인=== */


/* ===codiLog.jsx 내코디기록=== */
.codiLog {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topArea {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 0 16px;
}

.topArea h3 {
    flex: 0 0 auto;
    /* margin-left: 16px; */
}

.toggleContainer {
    padding: 8px 0;
    overflow-x: auto;
    display: flex;
    /* Firefox에서 스크롤바 숨기기 */
    -ms-overflow-style: none;
    /* Internet Explorer 10+, Edge에서 스크롤바 숨기기 */
    scrollbar-width: none;
}

.toggleContainer::-webkit-scrollbar {
    /* 웹킷 브라우저 (Chrome, Safari)에서 스크롤바 숨기기 */
    display: none;
}

.toggleContainer::before {
    content: "";
    position: absolute;
    left: 78px;
    top: 0;
    width: 1rem;
    height: 100%;
    background: var(--grey-100);
    background: linear-gradient(90deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
    z-index: 1;
}

.toggleContainer::after {
    content: "";
    position: absolute;
    right: 01rem;
    top: 0;
    width: 1rem;
    height: 100%;
    background: var(--grey-100);
    background: linear-gradient(90deg, rgba(238, 238, 238, 0) 0%, rgba(238, 238, 238, 1) 100%);
    z-index: 1;
}

.toggleWrapper {
    /* border: 1px solid hotpink; */
    display: flex;
    gap: 0.5rem;
    width: max-content;
    padding: 0 1rem;
    position: relative;
    /* 새로운 위치 속성 추가 */
    z-index: 0;
    /* 추가된 z-index 속성 */
}


.CodiViewFrame {
    background-color: var(--white);
    margin: 0 1rem 1rem 1rem;
    transition: 0.15s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    flex: 1;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    /* Firefox에서 스크롤바 숨기기 */
    -ms-overflow-style: none;
    /* Internet Explorer 10+, Edge에서 스크롤바 숨기기 */
    scrollbar-width: none;
}


.CodiViewFrame::-webkit-scrollbar {
    /* 웹킷 브라우저 (Chrome, Safari)에서 스크롤바 숨기기 */
    display: none;
}

/* ========CodiLogGallery.jsx ========*/

.galleryWrap {
    display: grid;
    grid-template-columns: auto auto auto;
    /* 3개의 열을 가로 방향으로 설정 */
    gap: 4px;
    /* 그리드 아이템 사이의 간격 설정 */
}

.galleryItem {
    position: relative;
    /* border: 1px solid green; */
    padding-top: 100%;
    background-color: var(--grey-100);
    overflow: hidden;
    cursor: pointer;
}

.galleryItem .dateBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    top: 8%;
    left: 8%;
    z-index: 1;
    background-color: var(--grey-800);
    color: var(--white);
    padding: 8px;
    border-radius: 0.6rem;

}

.galleryItem img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.15s;
}

.galleryItem:hover img {
    width: 110%;
    height: 110%;
}


/* ========CodiLogCallendar.jsx ========*/

.calendarWrap {
    /* border: 1px solid hotpink; */
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.calendarWrap .month {
    /* border: 2px solid teal; */
    padding: 1rem 0;
    border-bottom: 1px solid var(--grey-200);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calendarWrap .month strong {
    /* border: 1px solid violet; */
    text-align: center;
    color: var(--grey-600);
    padding: 1rem;
}

.calendarWrap .month ul {
    /* border: 1px solid lawngreen; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 1줄에 7개의 컬럼 생성 */
    gap: 8px;
    /* 아이템들 사이의 간격 */
}

.calendarWrap .month ul li {
    /* border: 1px solid brown; */
    border-radius: 999px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    position: relative;
    margin: 4px 0;
}

.calendarWrap .month ul li>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendarWrap .month ul li.day.activeTag {
    outline: 2px solid var(--primary-variant-color);
}

.calendarWrap .month ul li.day.activeToday {
    outline: 2px solid var(--accnet-color);
}

.calendarWrap .month ul li.day.activeToday::after,
.calendarWrap .month ul li.day.activeTag::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 999px;
    box-shadow: inset 0 0 0 2px var(--white);
}

.calendarWrap .month ul li.day .imgCon {
    /* border: 1px solid red; */
    filter: brightness(0.8);
    /* 50% 어두움 */

    width: 100%;
    height: 100%;
}

.calendarWrap .month ul li.day img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* =========CodiLogModal========= */
.CodiLogModal {
    position: absolute;
    background-color: var(--modal-bg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========CodiLogBox========= */
.CodiLogBox {
    background-color: var(--white);
    width: calc(100% - 2rem);
    max-width: calc(720px - 2rem);
    min-width: calc(320px - 2rem);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
    max-height: calc(100vh - 2rem);
    gap: 8px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.top .XIcon,
.top .DotIcon {
    cursor: pointer;
}


.CodiLogBox .imgBox {
    background-color: var(--grey-100);
    border-radius: 0.5rem;
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CodiLogBox .imgBox img {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 6rem - 98px - 38px);
    object-fit: contain;
}

.tags {
    display: flex;
    gap: 4px;
    color: var(--white);
}



.tags .miniTag {
    background-color: var(--primary-color);
    line-height: 100%;
}

/* =======Actionsheet (수정,삭제) =======*/
.ActionSheet {
    position: fixed;
    background-color: var(--modal-bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 9999;
}

.ActionSheet.active {
    visibility: visible;
    opacity: 1;
}

.ActionBox {
    overflow: hidden;
    max-width: 720px;
    min-width: 320px;
    background-color: var(--white);
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    flex-direction: column;
    position: relative;
    display: flex;
    bottom: -100px;
    transition: 0.15s;
}

.ActionBox.active {
    bottom: 0;
}

.ActionBox button {
    background-color: var(--white);
    color: var(--grey-600);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s;
    position: relative;
}

.ActionBox button:hover {
    font-weight: bolder;
    background-color: var(--primary-color);
    color: var(--white);
}

.ActionBox button:first-of-type::after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    height: 1px;
    bottom: -1px;
    background-color: var(--grey-200);
    z-index: 1;
}


/* =====CodiWrite.jsx===== */

.codiWrite {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}


.codiWriteFrame {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    flex: 1;
    margin: 0 1rem;
    transition: 0.15s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    /* Firefox에서 스크롤바 숨기기 */
    -ms-overflow-style: none;
    /* Internet Explorer 10+, Edge에서 스크롤바 숨기기 */
    scrollbar-width: none;
}

.codiWriteFrame::-webkit-scrollbar {
    /* 웹킷 브라우저 (Chrome, Safari)에서 스크롤바 숨기기 */
    display: none;
}


.codiWriteFrame h3 {
    color: var(--black);
}

.codiWriteFrame .weatherInfo {
    color: var(--grey-600);
    display: flex;
    gap: 8px;
    align-items: center;
}

.codiWriteFrame .miniTag {
    color: var(--primary-color);
    line-height: 100%;
}

.codiWriteFrame .imgCon {
    background-color: var(--grey-100);
    border: 1px solid var(--grey-200);
    border-radius: 1rem;
    flex: 1;
    max-height: calc(100vh - 2rem - 166px);
    transition: 0.15s;
    position: relative;
    display: flex;
    overflow: hidden;
}

.selectImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fileMss {
    color: var(--accnet-color);
    padding: 1rem;
}

.BtnImgUpload {
    position: absolute;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../public/img/icons/common/imageUp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    transition: 0.15s;
    border: 1px solid var(--grey-200);
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.BtnImgUpload:hover {
    background-color: var(--grey-400);
    border: 1px solid var(--grey-400);
    background-image: url('../../public/img/icons/common/imageUpHover.svg');
}


.Qfelt,
.Qmemo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
}

.Qfelt .togglesArea {
    /* border: 1px solid red; */
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}

.Qmemo textarea {
    border: 1px solid var(--grey-200);
    border-radius: 0.5rem;
    padding: 1rem;
}

.Qmemo textarea:focus {
    border: 1px solid var(--primary-variant-color);

    outline: none;
}

.Qmemo textarea::placeholder {
    color: var(--grey-400);
}


/* ====== codiCompleted.jsx ======*/
.CodiCompleted {
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.CodiCompleted .textCon {
    border: 2px solid gold;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.CodiCompleted .bottomWideBtns {
    gap: 0.5rem;
    flex-direction: column;
    display: flex;
    padding: 1rem;
    flex: 0 0 auto;
    /* flex-grow, flex-shrink, flex-basis */
}

.btnMethodWide {
    color: var(--white);
    background-color: var(--primary-variant-color);
    border-radius: 999px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    transition: 0.15s;
}

.CodiCompleted .btnMethodWide:last-of-type {
    background-color: var(--primary-color);

}

.btnMethodWide:hover {
    background-color: var(--grey-600);
}



/*------------- codiMain.jsx-------------*/


.codiMain {
    padding-bottom: 2rem;
    /* background-color: var(--grey-100);
    position: relative; */
    /* z-index: 2; */
}

.bigBtnCon {
    /* border: 1px solid red; */
    position: relative;

    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

.bigBtnCon .bigBtn {
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    transition: 0.15s;
}

.bigBtnCon .bigBtn:hover {
    background-color: var(--primary-color);
}

.bigBtnCon .bigBtn:hover>* {
    filter: invert(100%);
    font-weight: bolder;

}

.bigBtnCon .bigBtn span {
    /* border: 1px solid khaki; */
    width: 100%;
    text-align: left;
    padding-right: 2rem;
    word-break: keep-all;
    /* 단어 단위로 줄바꿈 설정 */
    white-space: normal;
    /* 기본 줄바꿈 동작 유지 */
}

.CodiLogBoxsMain {

    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logBox {
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logBox h3 {
    color: var(--grey-600);
}

.logBox .imgBox {
    background-color: var(--grey-100);
    border-radius: 0.5rem;
    width: 100%;
    padding-top: 100%;
    /* flex: 1; */
    overflow: hidden;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    position: relative;
}

.logBox .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logBox .noLogToday {
    background-color: var(--grey-100);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--grey-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logBox .btnWide {
    color: var(--white);
    background-color: var(--primary-variant-color);
    border-radius: 999px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
    transition: 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logBox .btnWide:hover {
    background-color: var(--primary-color);
}

.logBox .codiMemo {
    /* border: 1px solid red; */
    white-space: normal;
    /* word-wrap: break-word; */
    /* 단어를 끊지 않고 다음 줄로 넘기는 경우 */
    word-break: break-word;
    /* 단어를 끊어서라도 줄바꿈이 필요한 경우 */
}


/* codiEdit.jsx */
.modalCheck {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalCheck .modalBox {
    background-color: var(--white);
    border-radius: 1rem;
    width: calc(100% - 8rem);
    max-width: calc(720px - 16rem);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.modalCheck .modalBox .btns {
    border: 1px solid red;
    display: flex;
    gap: 1rem;
    width: 100%;
}

/* CodiGuidelineBox.jsx 전체 기온별 코디 가이드 모달 박스 */
.CodiGuidelineBoxCon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CodiGuidelineBoxCon .modalBox {
    background-color: var(--white);
    width: calc(100% - 4rem);
    max-width: calc(720px - 2rem);
    border-radius: 1rem;
    padding: 1rem;
}


@media screen and (min-width:736px) {
    .CodiViewFrame {
        margin: 0 0 1rem 0;
    }

    .codiWriteFrame {
        margin: 0;
    }

    .bottomBtns {
        margin: 0 0 1rem 0;
    }

    .CodiCompleted .bottomWideBtns {
        padding: 1rem 0;
    }
}