.present {
  padding: 32px 0 16px 0;
  margin: auto;
}
.temperature {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.temperature span {
  font-size: 36px;
  color: var(--primary-variant-color);
}
.temperature p {
  text-align: right;
}
.temperature p:nth-of-type(2) {
  color: var(--primary-variant-color);
  margin-top: 4px;
}
.others {
  display: flex;
  justify-content: center;
  gap: 68px;
}
.minmax p:nth-of-type(1),
.others span {
  color: var(--grey-600);
}
.others p {
  color: var(--primary-variant-color);
}
.con {
  text-align: center;
}
