.commuCollLike {
  background-color: var(--white);
  padding-top: 7.5rem;
  display: flex;
  justify-content: center;
}

.likeListCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}
.loadingMsg {
  text-align: center;
  padding: 10rem 5rem;
  font-size: 0.8rem;
}
