.cmntOptionMenu {
  border: 1px solid var(--grey-200);
  border-radius: 1rem;
  background-color: var(--white);
  overflow: hidden;
  position: absolute;
  right: 1.5rem;
  top: 2rem;

  visibility: hidden;
  /* transition: 0.3s; */
}
.cmntOptionMenu.on {
  visibility: visible;
}

.cmntBtnCon {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cmntBtnCon::before {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100% - 1rem);
  background-color: var(--grey-100);
  top: calc(50% - 1px);
  left: 0.5rem;
}
.cmntBtnCon button {
  font-family: var(--body-light-font);
  padding: 0.8rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cmntBtnCon button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
