.coordiReviewOption {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.coordiReviewOption.on {
  visibility: visible;
  height: 100%;
  padding-top: 2rem;
  opacity: 1;
}
.coordiReviewOption::before {
  content: '';
  position: absolute;
  top: 1rem;
  background-color: var(--grey-200);
  height: 1px;
  width: 100%;
}
.coordiReviewOption legend {
  visibility: hidden;
  position: absolute;
}

.onOffSelcet {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customRadio input[type='radio'] {
  display: none;
}

.customRadio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 1.5rem;
  user-select: none;
}
.customRadio span {
  color: var(--grey-400);
}
.checkmark {
  border: 1px solid var(--grey-200);
  position: absolute;
  left: 0;
  top: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}
.checkmark::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--black);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  display: none;
}
input:checked + .checkmark {
  border: 1px solid var(--black);
}
input:checked + .checkmark::after {
  display: block;
}
input:checked + .checkmark ~ span {
  color: var(--black);
}
