.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  position: relative;
}

.userImg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.userImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment .userName {
  font-family: var(--body-medium-font);
}
.comment .commentDate {
  color: var(--grey-600);
}
.comment i {
  padding: 0.3rem 0.8rem;
  margin-left: auto;
  cursor: pointer;
}
.comment p {
  width: 100%;
}
