.profileArea {
  border-bottom: 1px solid var(--grey-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pofileImg {
  overflow: hidden;
  padding-top: 6rem;
  padding-right: 6rem;
  border-radius: 50%;
  position: relative;
}

.pofileImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImg img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.btnCon {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 1.5rem auto 0;
}
.btnCon button {
  background-color: var(--white);
  color: var(--grey-600);
  border-radius: 5rem;
  padding: 0.7rem 4rem;
  width: 100%;
  max-width: 15rem;
  box-shadow: 4px 4px 8px var(--grey-200);
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  margin-bottom: 20px;
}
.btnCon button:hover,
.pofileEdit .btnCon button:first-of-type:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.myPofile,
.pofileEdit {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33rem;
  gap: 1.3rem;
  flex-wrap: wrap;
}

/* ----- 프로필 영역 ----- */

.myPofile {
  text-align: center;
}

.myPofile span {
  font-size: 1.5rem;
}

/* ---- 프로필 수정 영역 ---- */

.pofileEdit > * {
  width: 100%;
}
.pofileEdit label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.pofileEdit label span {
  width: 100%;
  color: var(--grey-600);
}
.pofileEdit input {
  outline: none;
  border: 1px solid var(--grey-200);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 1rem;
  color: var(--grey-800);
  width: 100%;
}
.pofileEdit .inputWithButton {
  display: flex;
  width: 100%; /* 전체 너비를 차지하도록 수정 */
  align-items: center;
  gap: 0.5rem; /* 입력창과 버튼 사이의 간격 */
}
.pofileEdit .inputWithButton input {
  flex-grow: 1;
}
.pofileEdit .inputWithButton button {
  flex-shrink: 0;
  background-color: var(--primary-variant-color);
  color: var(--white);
  border-radius: 5rem;
  padding: 0.8rem 1rem;
  width: 8rem; /* 버튼의 고정 너비를 살짝 줄임 */
  box-shadow: 4px 4px 8px var(--grey-200);
  transition: background-color 0.3s, color 0.3s;
}

.pofileEdit .btnCon button:first-of-type {
  background-color: var(--primary-variant-color);
  color: var(--white);
}
.pofileEdit .btnCon button:last-of-type:hover {
  background-color: var(--grey-600);
  color: var(--white);
}

/* 사진 추가 */

.profileImg img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-variant-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 4px 4px 8px var(--grey-200);
}

.hiddenFileInput {
  display: none;
}

/* 중복 확인 메시지 스타일 */
.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* 메시지와 입력 필드 간격 조절 */
}
