.cmpltMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 70vh;
}
.btnCon {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.btnCon button {
  cursor: pointer;
  width: calc(40% - 1rem);
  border-radius: 55rem;
  padding: 1rem;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}
.btnCon button:first-of-type {
  background-color: var(--white);
  color: var(--grey-600);
}

.btnCon button:last-of-type {
  background-color: var(--primary-variant-color);
  color: var(--white);
}
.btnCon button:first-of-type:hover {
  background-color: var(--grey-200);
}
.btnCon button:last-of-type:hover {
  background-color: var(--primary-color);
}

@media (max-width: 640px) {
  .btnCon {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  .btnCon button {
    width: 100%;
  }
}
