.page_s {
  position: absolute;
  padding: 0 20px 15px 20px;
  background-color: white;

  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
}

.titleWrap_s {
  text-align: center;
  margin-top: 120px;
  color: #262626;
}

/*성별선택버튼*/
.gender-select {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.gender-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #e2e0c0;
  border-radius: 30px;
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s;
}

.gender-button.selected {
  background-color: #376dd2;
  color: #fff;
  border-color: #376dd2;
}

/*중복확인*/
.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.checkButton {
  padding: 10px;
  background-color: #376dd2;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  flex-shrink: 0;
}

.checkButton:disabled {
  background-color: #dadada;
}
