.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;

  left: 50%;
  transform: translate(-50%, 0);

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.titleWrap {
  text-align: center;
  margin-top: 120px;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0c0;
  margin-bottom: 20px;
}

.inputWrap:focus-within {
  border: 1px solid #376dd2;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #376dd2;
  border-radius: 64px;
  color: white;
  margin: 20px 0 16px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

/*성별선택버튼*/
.gender-select {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.gender-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #e2e0c0;
  border-radius: 30px;
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s;
}

.gender-button.selected {
  background-color: #376dd2;
  color: #fff;
  border-color: #376dd2;
}

/*중복확인*/
.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.checkButton {
  padding: 10px;
  background-color: #376dd2;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  flex-shrink: 0;
}

.checkButton:disabled {
  background-color: #dadada;
}
